body{
	margin: 0;
	padding: 0;
	background-color: #333;
}
textarea{
	margin-left: 50px;
	margin-top: 30px;
	width: 200px;
	height: 15px;
	display: block;
}
button{
	width: 70px;
	height: 20px;
	margin-left: 260px;
	margin-top: -20px;
	display: block;
	position: absolute;
	background-color: lightblue;
	color: #333;
	border: none;
}